<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jason.product.dao.ProductDao">

    <resultMap id="productMap" type="com.jason.product.dto.ProductDTO" >
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="enabled" property="enabled"/>
        <collection property="properties" column="id"
                    select="com.jason.product.dao.PropertyDao.getByProduct"/>
    </resultMap>

    <insert id="addProduct" parameterType="com.jason.product.model.ProductBase" useGeneratedKeys="true"
            keyProperty="id" keyColumn="id">
        insert into table_product(name, title, category, content, enabled, create_time, update_time, available)
        values(#{name}, #{title},#{category}, #{content}, #{enabled}, #{createTime}, #{updateTime}, #{available})
    </insert>

    <update id="updateProduct" parameterType="com.jason.product.model.ProductBase">
        update table_product set
        <if test="title != null">
            title=#{title},
        </if>
        <if test="content != null">
            content=#{content},
        </if>
        <if test="enabled != null">
            enabled=#{enabled},
        </if>
        update_time=#{updateTime}
        where id=#{id}
    </update>

    <update id="delete" parameterType="java.lang.Integer">
        update table_product
        set available = false
        where id=#{id}
    </update>

    <select id="getSimple" parameterType="java.lang.Integer" resultType="com.jason.product.dto.ProductDetailDTO">
        select name, title, content
        from table_product
        where id=#{id} and available=true
    </select>

    <select id="getProduct" parameterType="java.lang.Integer" resultMap="productMap">
        select * from table_product
        where id=#{id} and available=true
    </select>
</mapper>
